#serviceCard {
    width: 21rem
}

#respondCard {
    width: 30rem;
}

#respButton {
    width: 160px;
    border-color: black;
    color: black;
}

.card-img-top {
    height: 400px;
}

#sortTable_length, #sortTable2_length, #sortTable3_length,
#sortTable4_length, #sortTable7_length {
    margin-left: 17.2%;
}

#sortTable5_length {
    margin-left: 34%;
}

#sortTable_paginate, #sortTable2_paginate, #sortTable3_paginate,
#sortTable4_paginate, #sortTable7_paginate {
    margin-right: 15%;
}

#sortTable5_paginate {
    margin-right: 30%;
}


#sortTable2_info, #sortTable3_info, #sortTable7_info {
    margin-left: 20.5%;
}

#sortTable5_info {
    margin-left: 41%;
}

#sortTable2_filter, #sortTable3_filter, #sortTable4_filter,
#sortTable7_filter {
    margin-right: 17.6%;
}

#sortTable5_filter, #sortTable6_filter {
    margin-right: 35.2%;
}

.pagination .page-item.active .page-link {
    background-color: lightgray; color: black!important; border-color: black!important; border-radius: 3px;
}

.pagination .page-item.active .page-link:hover {
    background-color: lightgray; color: black!important; border-color: black!important;
}

.pagination .page-item .page-link {
    color: black!important; border-color: lightgray!important;
}

#dropdown04 {
    display: inline-block;
    width: 80%;
    height: calc(1.5rem + 2px);
    padding: 0 0.25rem 0.1rem 0.25rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: auto;
    background: #fff ;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#dropdown04:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px rgba(128, 189, 255, 0.5);
}

#dropdown04:focus::-ms-value {
    color: #495057;
    background-color: #fff;
}

.dropdown.bootstrap-select.show-tick {
    width: 100%!important;
}

.bootstrap-select .dropdown-toggle .filter-option {
    height: 67%!important;
    font-size: 1rem;
}

.rating-input-wrapper input[type="radio"] {
    display: none;
}
.rating-input-wrapper input[type="radio"] ~ span {
    cursor: pointer;
}
.rating-input-wrapper input[type="radio"]:checked ~ span {
    background-color: #ffc107;
    color: black;
}
.rating-labels > label{
    font-size: 13px;
    color: #777;
}

